@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
     :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    background-image: url("https://nextui.org/gradient-right-dark.svg");
    background-position: 1200px;
    background-repeat: no-repeat;
}

.GitHub,
.LinkedIn {
    height: 30px;
}


/* Add this to your global CSS file */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    /* background: #161616; */
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #1d1c1c;
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(44, 44, 44);
}

.section2 {
    background-image: url("https://nextui.org/gradient-left-dark.svg");
    background-position: -400px;
    background-repeat: no-repeat;
}

.hdr {
    background-image: url("https://nextui.org/gradient-left-dark.svg");
    background-position: 1100px;
    background-position-y: -500px;
    background-repeat: no-repeat;
}

.mnhdr {
    border-bottom: #1d1c1c 1px solid;
}

.blur-background {
    backdrop-filter: blur(10px);
    background-color: transparent;
}

.blur-background2 {
    background-image: url("https://nextui.org/theming-gradient.svg");
    background-position: 20px;
    background-position-y: -500px;
    background-repeat: no-repeat;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

.scroll-indicator {
    animation: scroll 2s ease infinite;
}

.custom-gradient::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 100px;
    background-color: linear-gradient(135deg, #db27ec3d, #5105ca00);
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.timeline-bg1 {
    background-image: url("https://nextui.org/dark-mode-gradient.svg");
    background-position: 20px;
    background-position-y: -500px;
    background-repeat: no-repeat;
}

.timeline-bg2 {
    background-image: url("https://nextui.org/stitches-gradient.svg");
    background-position: -600px;
    background-position-y: -500px;
    background-repeat: no-repeat;
}

.pw-bg {
    background-image: url("https://nextui.org/gradient-left-dark.svg");
    background-position: -600px;
}

.cc-bg {
    background-image: url("https://nextui.org/gradient-right-dark.svg");
    background-position: -400px;
    background-repeat: repeat;
    background-size: cover;
}

.footer-b {
    border-top: #1d1c1c 2px solid;
    background-image: url("https://nextui.org/stitches-gradient.svg");
    background-position: -320px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animated-gradient {
    background: linear-gradient(270deg, #d83cff, #00a3ff, #8b5ef3);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
    animation: gradient 5s ease infinite;
}

.otherbox {
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 450px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.otherbox::before,
.otherbox::after {
  content: "";
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.otherbox::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.otherbox::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
  .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}
